.gpt__brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gpt__brand div{
    flex: 1;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gpt__brand img{
    max-width: 60px;
    margin: 1rem 2rem;
}

@media screen and (max-width: 700px) {
     .gpt__brand div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 1050px) {
    .gpt__brand {
        width: 100%;
    }
}