.gpt__features-container__feature{
   width: 50%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-direction: column;
   margin: 1rem;
}

.gpt__features-container__feature-title{
    flex: 1;
    max-width: 210px;
    margin-right: 2rem;
}

.gpt__features-container__feature-title h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    margin-bottom: 1rem;
    color: var(--color-subtitle);
}


.gpt__features-container__feature-text{
    font-family: var(--font-family);
    flex: 2;
    
}

.gpt__features-container__feature-text p{

}

.gpt__features-container__feature-title div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

@media screen and (max-width: 550px) {
    .gpt__features-container__feature-title h1{
        
    }
    .gpt__features-container__feature-title p {
        font-size: 12px;
        line-height: 20px;
    }
    .gpt__features-container__feature{
        margin: 1rem 0;
    }
}