.mycv__features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.mycv__features-heading{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.mycv__features-heading h1{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}

.mycv__features-container{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 550px){
    .mycv__features{
        flex-direction: column;
    }
    .mycv__features-container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    
}