.gpt__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    position: relative; 
    z-index: 1  ;
}

.gpt__navbar-links{
    flex: 1;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.gpt__navbar-links_logo{
    margin-right: 2rem;
}

.gpt__navbar-links_logo img{
    width: 100px;
}

.gpt__navbar-links_container{
    display: flex;
    flex-direction: row;
}


.gpt__navbar-links_container p,
.gpt__navbar-sign p,
.gpt__navbar-menu_container p {
    color: var(--gradient-text);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.gpt__navbar-sign{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gpt__navbar-sign button,
.gpt__navbar-menu_container button{
    padding: 0.5rem 1rem;
    background: #FF8A71;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    border: 0;
    outline: none;
    cursor: pointer;
}

.gpt__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
 }

.gpt__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-bg);
    padding: 2rem;
    position: absolute;
    top: 60px;
    right: 0;
    margin-top: 20px;
    min-width: 210px;
    border-radius: 5px;
    z-index: 1;
}

.gpt__navbar-menu_container p{
    margin: 1rem 0;
}

.gpt__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .gpt__navbar-links_container {
        display: none;
        z-index: 1;
    }

    .gpt__navbar-menu {
        display: flex;

    }
}

@media screen and (max-width: 700px) {
    .gpt__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .gpt__navbar {
        padding: 2rem;
    }
    .gpt__navbar-sign{
        display: none;
    }
    .gpt__navbar-menu_container{
        top: 50px;
        z-index: 1;
    }
    .gpt__navbar-menu_container-links-sign{
        display: block;    
    }
}