*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--color-bg);
    color: whitesmoke;
}

a{
    color: unset;
    text-decoration: none;
}

.gradient__bg{
    background: #5C258D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4389A2, #5C258D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4389A2, #5C258D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding{
    padding: 0rem 6rem 4rem 6rem;
}

.section__margin {
    margin: 0rem 6rem;
}

.scale-up-center{
    -webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;   
}

@-webkit-keyframes scale-up-ver-center {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes scale-up-ver-center {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@media screen and (max-width: 700px) {
    .section__padding{
        padding: 4rem;
    }
    .section__margin {
        margin: 4rem;
    }
}

/*mobile*/
@media screen and (max-width: 500px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}

