@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        font-family: 'Manrope',sans-serif;
    }
}

:root {
    --font-family: 'Manrope', sans-serif;

    --gradient-text: #363e54 /*linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%)*/;
    --gradient-bar: #ff4820;

    --color-subtitle: #62697c;
    --color-bg: rgb(255, 255, 255);
    --color-footer:  #FF8A71;
    --color-blog: #1e293d;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}