.gpt__header{
    display: flex;
    flex-direction: row;
}

.gpt__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.gpt__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.gpt__header-content p {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    margin-top: 1.5rem;
}

.gpt__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.gpt__header-content__input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    padding: 0 1rem;
    font-family: var(--font-family);
    background: #203a43;
    font-size: 20px;
    line-height: 27px;
    border: none;
    outline: none;
    color: #fff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gpt__header-content__input button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    background: #ff4820;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gpt__header-content__people{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.gpt__header-content__people img{
    width: 180px;
    height: 38px;
}

.gpt__header-content__people p{
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
}

.gpt__header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt__header-image img{
    width: 100%;
}

@media screen and (max-width: 1050px) {
    .gpt__header {
        flex-direction: column;
    }
    .gpt__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 700px) {
    .gpt__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .gpt__header p{
        font-size: 16px;
        line-height: 24px;
    }
    .gpt__header-content__people{
        flex-direction: column;
    }
    .gpt__header-content__people img{
        margin-bottom: 1rem;
    }
    .gpt__header-content__people p {
        margin: 0;
    }
    .gpt__header-content__input input,
    .gpt__header-content__input button{
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 550px) {
    .gpt__header h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .gpt__header p {
        font-size: 14px;
        line-height: 24px;
    }
    .gpt__header-content__input input,
    .gpt__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
   }





