.gpt__whatgpt{
    display: flex;
    flex-direction: column;
    background: inherit;
}
  
.gpt__whatgpt-feature {
   display: flex;
   margin-top: 2rem;
   flex-direction: row-reverse;
}

.gpt__whatgpt-feature .gpt__whatgpt-features-container__feature{
    margin: 0;
}

.gpt__whatgpt-feature .gpt__whatgpt-features-container__feature-text {
    max-width: 700px;
}

.gpt__whatgpt-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6rem 0;
}

.gpt__whatgpt-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}

.gpt__whatgpt-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

@media screen and (max-width: 850px) {

    /* Customizing feature component as per needs */
    .gpt__whatgpt-feature .gpt__features-container__feature {
        flex-direction: column;
    }

    .gpt__whatgpt-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem 1rem 2rem 1rem;
    }

    /* Customizing feature component as per needs */
    .gpt__whatgpt-feature .gpt__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .gpt__features-container_feature {
        width: 100%;
    }

    .gpt__whatgpt-heading h1 {
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        max-width: 400px;
    }
    .gpt__whatgpt-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {

    .gpt__whatgpt-container .gpt__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .gpt__whatgpt-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem 1rem 2rem 1rem;
    }

    .gpt__whatgpt-feature{
        flex-direction: column;
    }

    .gpt__whatgpt-feature-img {
        max-width: 200px;
    }
    
}